.currency-card {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}


.currency-card-header {
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
}


.currency-card-body {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.currency-item {
    flex: 1 1 300px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 100%;
    max-width: 300px;
    transition: all 0.3s ease-in-out;
    opacity: 1;
    transform: translateY(0);
}


.currency-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.currency-item.removing {
    opacity: 0;
    transform: translateY(-10px);
}

/* Responsive design */
@media (max-width: 1200px) {
    .currency-item {
        max-width: 250px;
    }
}

@media (max-width: 768px) {
    .currency-item {
        max-width: 100%;
    }
}