/* src/components/CurrencyList/CurrencyList.css */

.currency-list-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .currency-list-item {
    background-color: #f8f8f8;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  