.currency-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.currency-list-item {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  transition: transform 0.3s, box-shadow 0.3s;
}

.currency-list-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.currency-header {
  background-color: #eee;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}

.explore-currency-details {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.button-container {
  display: flex;
  gap: 10px; 
}

.currency-list-favorite-button {
  background-color: #ffddc1;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.currency-list-favorite-button.favorited {
  background-color: #f76c6c;
  color: white;
}

.currency-list-favorite-button:hover {
  background-color: #f0a4a4;
}

.view-details-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
}

.view-details-button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  font-size: 1.2em;
  text-align: center;
  width: 100%;
}

.currency-list-item.positive .currency-header {
  background-color: #85bb65; 
}

.currency-list-item.negative .currency-header {
  background-color: #f76c6c; 
}