/* src/components/ExplorePage/ExplorePage.css */

.explore-page {
    padding: 5px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  .explore-page-header {
    text-align: center;
    margin-bottom: 5px;
  }

  