/* AssetsPage.css */
.assets-page {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .assets-page-header {
    background-color: #6fb762; 
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 2em; 
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    margin-bottom: 20px; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }
  .asset-card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 10px;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .asset-info {
  justify-content: space-between;
  border-top: 1px solid #ccc;
  padding-top: 10px;
  margin-top: 10px;
  }

  .asset-info p {
    margin: 0 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fff;
  }

  .asset-card:hover {
    transform: translateY(-5px);
  }
  
  .asset-card h2 {
    margin: 0;
    padding: 5px;
    background-color: #eee;
    border-radius: 5px;
  }
  
  .asset-card p {
    margin: 5px 0;
  }

  /* Shared button styles for action buttons */

.asset-page-view-details-buton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.asset-page-view-details-buton:hover {
  background-color: #0056b3;
}

  