/* AssetsPastTransactions.css */
.assets-page-detailed-view {
    padding-left: 40px;
    font-family: Arial, sans-serif;
}

.assets-page-detailed-view h2 {
    margin-bottom: 20px;
}

.assets-page-detailed-view-header,
.total-performance-header {
    background-color: #5da251; /* Green background */
    color: #ffffff; /* White text for better contrast */
    padding: 10px;
    border-radius: 10px;
    font-size: 2em; /* Keeping the font size as is */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Increased text shadow for better contrast */
}

.total-performance-header {
    background-color: #5da251; /* Green background */
    color: #ffffff; /* White text for better contrast */
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em; /* Keeping the font size as is */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Increased text shadow for better contrast */
}


.total-performance p {
    margin: 0 10px;
    padding: 5px;
    border: 1px solid #cbcbcb;
    border-radius: 3px;
    background-color: #ffffffd6;
}


.back-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 5px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.back-button:hover {
    background-color: #0056b3;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.total-performance {
    margin-bottom: 20px;
}

.total-performance h3 {
    margin: 0;
}

.total-performance p {
    font-size: 18px;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    border: 1px solid #858585;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #ffffffe9;
}

table td {
    background-color: #ffffff5f;
}

/* Responsive Design */
@media (max-width: 768px) {
    .assets-page-detailed-view h2 {
        font-size: 20px;
    }

    .total-performance p {
        font-size: 16px;
    }

    table th,
    table td {
        font-size: 14px;
    }

    .back-button {
        font-size: 14px;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    .assets-page-detailed-view h2 {
        font-size: 18px;
    }

    .total-performance p {
        font-size: 14px;
    }

    table th,
    table td {
        font-size: 12px;
        padding: 6px;
    }

    .back-button {
        font-size: 12px;
        padding: 6px 12px;
    }
}