.app-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 180px;
  background-color: #5da251; 
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  transition: width 0.3s; 
  z-index: 1; 
}

.sidebar-header {
  display: flex; 
  align-items: center; 
  background-color: #4a8a3f; 
  color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.header-icon {
  width: 50px; 
  height: 50px;
  margin-right: 3px; 
}

.sidebar-header-text {
  font-size: 1.5em; 
}

.sidebar-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-button {
  display: flex; 
  align-items: center; 
  margin: 15px 0;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  background-color: #46843c;
  border: none;
  border-radius: 10px; /* Rounded edges */
  transition: background-color 0.3s, transform 0.3s;
}

.sidebar-button:hover {
  background-color: #73a554;
  transform: translateX(5px);
}

.sidebar-icon {
  margin-right: 10px; 
  width: 40px; 
  height: 40px; 
}

.sidebar-text {
  display: block; 
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  .app-sidebar {
    width: 50px; 
    padding: 10px; 
  }

  .sidebar-header {
    flex-direction: column; 
  }

  .header-icon {
    margin-right: 0; 
    margin-bottom: 10px; 
    width: 30px; 
    height: 30px;
  }

  .sidebar-header-text {
    display: none; 
  }

  .sidebar-button {
    justify-content: center; 
    padding: 5px; 
    font-size: 0.9em; 
  }

  .sidebar-icon {
    margin-right: 0; 
    width: 30px; 
    height: 30px; 
  }

  .sidebar-text {
    display: none; 
  }
}
