/* SideBar.css */
.app-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 150px;
    background-color: #85bb65; /* Money green color */
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .sidebar-header {
    background-color: #4a8a3f; /* Darker green for contrast */
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.5em;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }
  
  .sidebar-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-button {
    display: block;
    margin: 15px 0;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    background-color: transparent;
    border: none;
    border-radius: 10px; /* Rounded edges */
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .sidebar-button:hover {
    background-color: #73a554; 
    transform: translateX(5px);
  }
  