/* App.css */
.App {
  font-family: Arial, sans-serif;
}

.app-container {
  display: flex;
}

.main-content {
  flex-grow: 1;
  padding: 10px;
  margin-left: 200px; /* Offset by the width of the sidebar */
  overflow: auto; /* Handle overflow */
  position: relative;
}
